@import "tailwindcss";
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out;
}

.cube-container {
  width: 300px;
  height: 300px;
  perspective: 1200px;
  margin-top: 20px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 9s infinite linear;
}

.cube:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(255, 136, 0, 0.5);
   background-color: #1a0f00;
}

.face img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;             

}

.face-1 { 
  transform: rotateY(0deg) translateZ(150px); 
}
.face-2 { 
  transform: rotateY(90deg) translateZ(150px); 
}
.face-3 { 
  transform: rotateY(180deg) translateZ(150px); 
}
.face-4 { 
  transform: rotateY(-90deg) translateZ(150px); 
}
.face-5 { 
  transform: rotateX(90deg) translateZ(150px); 
}
.face-6 { 
  transform: rotateX(-90deg) translateZ(150px); 
}

@keyframes rotateCube {
  0% { transform: rotateX(0deg) rotateY(0deg); }
  25% { transform: rotateX(0deg) rotateY(90deg); }
  50% { transform: rotateX(0deg) rotateY(180deg); }
  75% { transform: rotateX(0deg) rotateY(270deg); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}
